<div class="container">
  <div class="row">
    <div class="form-horizontal">
      <div class="text-center" style="margin-bottom: 50px;">
        <h1 class="title">Log in</h1>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: "col-lg-3 control-label" %>
        <div class="col-lg-6">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter your email" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "col-lg-3 control-label" %>
        <div class="col-lg-6">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder:"Enter your password" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-lg-offset-5">
            <%= f.check_box :remember_me, class: "col-lg-1", style: "margin-top: 7px;" %>
            <div class="col-lg-3">
              <%= f.label :remember_me, class: "control-label" %>
            </div>
          </div>
        </div>
      <% end -%>

      <div class="form-group">
        <div class="text-center">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

