<body id="home">
  <div id="wrapper">
    <div class="home-slider">
      <div class="container">
        <div id="sequence">
          <div class="sequence-prev"><i class="fa fa-angle-left"></i></div>
          <div class="sequence-next"><i class="fa fa-angle-right"></i></div>
          <ul class="sequence-canvas">
            <li class="animate-in">
              <div class="flat-caption caption1 formLeft delay300 text-center"><span class="suphead">Mở bán Galaxy Note FE</span></div>
              <div class="flat-caption caption2 formLeft delay400 text-center">
                <h1 style="margin-top: 10px; color: blue;">Giá rẻ nhất Việt Nam</h1>
              </div>
              <div class="flat-caption caption3 formLeft delay500 text-center" style="margin-top: 50px;">
                <p>Chỉ với <strong style="color: red; font-size: 20px;"><u>11.990.000đ</u></strong> bạn sẽ sở hữu ngay 1 chiếc điện thoại <br/>Samsung galaxy Note FE chính hãng cực chất</p>
              </div>
              <div class="flat-button caption4 formLeft delay600 text-center" style="margin-top: 40px;"><a class="more" href="#">Mua ngay</a></div>
              <div class="flat-image formBottom delay200" data-duration="5" data-bottom="true"><img src="images/slider-image-01.png" alt=""></div>
            </li>
            <li>
              <div class="flat-caption caption1 formLeft delay400">
                <h1>Sắm Iphone X chính hãng Việt Nam</h1>
              </div>
              <div class="flat-caption caption3 formLeft delay500">
                <h2 style="margin-top: 40px; color: blue;">Tiết kiệm lên đến 6 triệu đồng.</h2>
              </div>
              <div class="flat-button caption5 formLeft delay600"><a class="more" href="#">Mua ngay</a></div>
              <div class="flat-image formBottom delay200" data-bottom="true"><img src="images/slider-image-02.png" alt=""></div>
            </li>
            <li>
              <div class="flat-caption caption1 formLeft delay300 text-center"><span class="suphead">redmi note 4x</span></div>
              <div class="flat-caption caption2 formLeft delay400 text-center">
                <h2 style="color: blue;">snap dragon | ram 3gb | pin 4100mAh</h2>
              </div>
              <div class="flat-caption caption3 formLeft delay500 text-center">
                <p style="font-size: 18px;">Giá chỉ từ:<br/><h3 style="color: red;">2.690.000 VNĐ</h3></p>
              </div>
              <div class="flat-button caption4 formLeft delay600 text-center" style="margin-top: 30px;"><a class="more" href="#">Mua ngay</a></div>
              <div class="flat-image formBottom delay200" data-bottom="true"><img src="images/slider-image-03.png" alt=""></div>
            </li>
          </ul>
        </div>
      </div>
      <div class="promotion-banner">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="promo-box"><img src="images/promotion-01.png" alt=""></div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="promo-box"><img src="images/promotion-02.png" alt=""></div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
              <div class="promo-box"><img src="images/promotion-03.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container_fullwidth">
      <div class="container">
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-md-3 col-sm-2 col-xs-4">
              <%= link_to product, target: :blank do %>
                <div class="products">
                  <% if product.offer == nil %>
                  <% else %>
                    <div class="offer">-<%= product.offer %>%</div>
                  <% end %>
                  <div class="thumbnail123">
                    <%= image_tag product.image %>
                  </div>
                  <div class="content">
                    <div class="productname"><%= product.name %></div>
                  </div>
                  <h4 class="price"><%= product.price %>đ</h4>
                  <% if product.oldPrice > product.price %>
                    <h5 class="oldprice">Giá cũ: <%= product.oldPrice %>đ<h5>
                  <% end %>
                  <div class="button_group">
                    <button data-toggle="modal" data-target="#myModal" class="button add-cart" type="button" data-item-id="<%= product.id %>">Thêm vào giỏ hàng</button>
                    <button class="button wishlist" type="button">
                      <i class="fa fa-heart-o"></i>
                    </button>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('document').ready(function() {
      var token = $( 'meta[name="csrf-token"]' ).attr( 'content' );
      $.ajaxSetup( {
        beforeSend: function ( xhr ) {
          xhr.setRequestHeader( 'X-CSRF-Token', token );
        }
      });
      $('.add-cart').click(function() {
        var item_id = $(this).data('item-id');
        var add_cart = $(this);
        $.get("/carts", function(data, status){
          for (i = 0; i < data.carts.length; i++){
            if (item_id == data.carts[i].product_id) {
              var data_quantity = data.carts[i].quantity + 1;
              $.ajax({
                url: '/carts/' + data.carts[i].id,
                method: 'PUT',
                data: {quantity: data_quantity},
                success: function(data) {
                }
              });
              update_total_cart();
            } 
            else {
              $.post("/carts", {
                product_id: item_id,
              }, function(data, status){
                  var quantity_cart = data.quantity_cart;
                  $('.cart_no, p.modal-title').html(quantity_cart);
                  add_product_to_table(data.cart);
                  update_quantity_select();
                  var total_cart = 0;
                  var total_item = $('.total_item').each(function(item) {
                    total_cart += parseInt($(this).data('total-item-value'));
                  });
                  $('.total_cart').html(total_cart.toLocaleString());
              }); 
            }
          }
        });  
        
      });
      $('.cart-icon').click(function() {
        update_cart_details();

      });
      $('.cart_table').on('click', '.delete-cart', function() {
        var cart_id = $(this).data('cart-id');
        var delete_cart = $(this);
        var total_item = $(this).closest('tr').find('.total_item').data('total-item-value');
        $.ajax({
          url: '/carts/' + cart_id,
          method: 'DELETE',
          success: function(data) {
            var quantity_cart = data.quantity_cart;
            $('.cart_no, p.modal-title').html(quantity_cart);
            delete_cart.closest('tr').empty(300);
            update_total_cart();          }
        });
      });
      $('.cart_table').on('change', '.value_quantity', function() {
        var value_quantity = $(this).val();
        var cart_id = $(this).data('cart-id');
        $(this).data('quantity', value_quantity);
        $.ajax({
          url: '/carts/' + cart_id,
          method: 'PUT',
          data: {quantity: value_quantity},
          success: function(data) {
          }
        });
        var price_product = $(this).closest('tr').find('.price_product').data('price-product-value');
        var a = parseInt(price_product) * value_quantity;
        $(this).closest('tr').find('.total_item').data('total-item-value', a);
        $('#total_item_' + cart_id).html(a.toLocaleString() +'đ');        
        update_total_cart();
      });
    });
    function update_quantity_cart(quantity_cart) {
      $('.cart_no, p.modal-title').html(quantity_cart);
    }
    function update_quantity_select() {
      $('.value_quantity').each(function(quantity) {
        var quantity = $(this).data('quantity');
        $(this).val(quantity);
      });
    }
    function update_total_cart() {
      var total_cart = 0;
      var total_item = $('.total_item').each(function(item) {
        total_cart += parseInt($(this).data('total-item-value'));
      });
      $('.total_cart').html(total_cart.toLocaleString());
    }
    function add_product_to_table(cart) {
      $('.cart_table').append("<tr> <td> <img class='cart-image' src='" + cart.product.image.url + "' /><div class='cart-name'>" + cart.product.name + " <div class='delete-cart' data-cart-id='" + cart.id + "'><button type='button' class='destroy-cart'>Huy bo san pham</button></div></td> <td class='price_product' data-price-product-value='" + cart.product.price + "'>" + cart.product.price + "</td> <td><select class='value_quantity' data-cart-id='" + cart.id + "' data-quantity='" + cart.quantity + "'><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option></select></td> <td class='total_item' data-total-item-value='" + cart.product.price * cart.quantity + "đ' id='total_item_" + cart.id + "' data-cart-id='" + cart.id + "' >" + cart.product.price * cart.quantity + "</td> </tr>");
    }
    function update_cart_details() {
      $.get("/carts", function(data, status){
        $('.cart_table').html('');
        update_quantity_cart(data.carts.length);
        for (i = 0; i < data.carts.length; i++) {
          add_product_to_table(data.carts[i]);
        }
        update_quantity_select();
        update_total_cart();
      });
    }
  </script>
</body>
