<div class="clearfix">
  <div id="wrapper">
    <div class="container">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Brand:</strong>
        <%= @product.brand %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <p>
        <strong>Old Price:</strong>
        <%= @product.oldPrice %>
      </p>

      <p>
        <strong>Offer:</strong>
        <%= @product.offer %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Quantity:</strong>
        <%= @product.Quantity %>
      </p>

      <p>
        <strong>Image:</strong>
        <%= @product.image %>
      </p>
    </div>
  </div>
</div>